/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#warningScreen {
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: calc(48px + 4.6em);
    padding-inline-end: 48px;
}
.title {
    background-image: url("chrome://global/skin/icons/warning.svg");
    fill: #fcd100;
}
#warningTitle {
    font-weight: lighter;
    line-height: 1.2;
    margin: 0;
    margin-bottom: .5em;
}
#warningText {
    margin: 1em 0;
}
#warningButton {
    margin-top: 0.6em;
}
#filterRow {
    margin-top: 4px;
    margin-inline-start: 4px;
}
#configTree {
    margin-top: 4px;
    margin-bottom: 4px;
}
#configTreeBody::-moz-tree-cell-text(user) {
    font-weight: bold;
}
#configTreeBody::-moz-tree-cell-text(locked) {
    font-style: italic;
}
:root {
    --in-content-page-background: rgba(111, 1, 1, 0)!important;
}
body {
    background: none!important;
}
tree {
    color: var(--primary-font-color)!important;
    background: none!important;
    background-color: rgba(3, 3, 3, 0)!important;
    appearance: none;
}
treechildren::-moz-tree-row {
    color: var(--primary-font-color)!important;
    background: none!important;
    background-color: rgba(70, 76, 79, 0.3);
    appearance: none;
}
#savedsignons>hbox:nth-child(1) {
    background: none!important;
    appearance: none!important;
}
search-textbox {
    background: none!important;
    appearance: none!important;
}
#filter {
    background: none!important;
}
treecol {
    background: none!important;
    appearance: none!important;
}
treechildren {
    background: none!important;
    background-color: rgba(70, 76, 79, 0.3);
    appearance: none!important;
}
treechildren::-moz-tree-row(odd) {
    background: none;
    background-color: rgba(140, 56, 119, 0.1)!important;
    appearance: none;
}
#SignonViewerDialog, body {
    background: none!important;
}
button {
    background: var(--in-content-button-background-alt)!important;
    appearance: none!important;
}