/* SOURCE: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

	@media(prefers-color-scheme: dark) {
@-moz-document url-prefix(chrome://mozapps/content/extensions/extensions.xul),
	url-prefix(about:addons),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.html),
	url-prefix(chrome://mozapps/content/extensions/aboutaddons.xhtml) {


	.category[is="discover-button"]{
	    display: none!important;
	}	
	
		#categories .category:hover {
	  color: var(--in-content-category-text-hover) !important;
	  background-color: var(--in-content-category-background-hover) !important;
	}

	#categories .category[selected],
	#categories .category.selected,
	#categories .category[selected]:hover,
	#categories .category.selected:hover,
	#categories .category[selected]:hover:active,
	#categories .category.selected:hover:active {
	  color: var(--in-content-category-text-selected) !important;
	  background-color: var(--in-content-category-background-selected) !important;
	}
	

	#preferencesButton {
	  fill: #8b8b8b !important;
	}
	
	#help-button {
	  fill: #ff0000 !important;
	}
	


	
	/* colorize category icons */
	#categories .category[name="search"],
	#category-search .category-icon {
	  fill: #8aa8cc !important;
	}
	
	#categories .category[name="discover"],
	#category-discover .category-icon {
	  fill: #8b8b8b !important;
	}
	
	#categories .category[name="extension"],
	#category-extension .category-icon {
	  fill: #63c54f !important;
	}
	
	#categories .category[name="theme"],
	#category-theme .category-icon {
	  fill: #ffba2f !important;
	}

	#categories .category[name="plugin"],
	#category-plugin .category-icon {
	  fill: #2b63c1 !important;
	}
	
	#categories .category[name="dictionary"],
	#category-dictionary .category-icon {
	  fill: purple !important;
	}
	
	#categories .category[name="legacy"],
	#category-legacy .category-icon {
	  fill: red !important;
	}
	#categories .category[name="available-updates"],
	#category-availableUpdates .category-icon {
	  fill: orange !important;
	}
	#categories .category[name="recent-updates"],
	#category-recentUpdates .category-icon {
	  fill: #b99c16 !important;
	}



	
 }
}

}