/********************************************/


/*About:pages styling */
@import "./userContent-files/aboutpages/list.css";

/*  Shared variables */
@import "./userChrome-files/vars.css";


/*--- Tree Style Tab tweaks and styling ---*/


/*EXTRA FOLLOW STEPS*/
@import "./userContent-files/treestyletab.css";

/*Adds to Tree Style Tab selected tab an animated gradient border*/

@import "./userContent-files/treetab_animated_gradient_border.css";

/*Required*/
:root {
    --sideheader-margin: 37px;
    --tab-top-margin: 10px!important;
}
tab-item:not(collapsed,.pinned)[data-level="0"] {
        margin-top: var(--tab-top-margin) !important;
}
#tabbar-container {
    margin-top: calc(var(--sideheader-margin))!important;
}

/*f110 remove trash can icon*/
@-moz-document url-prefix(about:addons) {
    panel-item[action="remove"]::part(button) {
      background-image: none!important;
    }
}
/*Text Selection / highlight colour*/

@media (prefers-color-scheme: dark) {
    ::selection {
        color: rgba(0, 0, 0, 1)!important;
        background: rgba(160, 30, 40, 1)!important;
        font-weight: 400!important;
    }
}
@media (prefers-color-scheme: light) {
    ::selection {
        color: white!important;
        background: rgba(100, 100, 100, 1)!important;
        font-weight: 400!important;
    }
}


/*Scroll bar colour for scrollbars escaping FloatingScrollbar.uc.js*/

* {
    scrollbar-color: rgba(77, 77, 77, .4) rgba(0, 0, 0, 0);
}


/*White flash fix */

@media (prefers-color-scheme: dark) {
    .browserContainer {
        background-color: rgb(23, 23, 23) !important;
    }
    #tabbrowser-tabpanels {
        background-color: rgb(23, 23, 23) !important;
    }
    html.no-js {
        background-color: rgb(23, 23, 23) !important;
    }
}
/********************************************/
